@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
.card {
   font-family:"Noto Sans",cursive;
	display:inline-block;
   width:15vw;
   height:36vh;
   border-radius:0.5vw;
   transform-style: preserve-3d;
   background-color:#fff;
   border:1px solid rgba(0,0,0,.8);
   text-align:center;
   position:relative;
   margin-left:.5em;
   box-shadow: 0.3vw 0.6vh 0.5vw rgba(0,0,0,.4);
}
#cards {
	position:absolute;
	bottom:22vh;
	left:16.5vw;
	z-index:999;
}
#hands .cardwrap {
   transform-style: preserve-3d;
   transition: transform 250ms;
   width:7vw;
   height:18vh;
   display:inline-block;
	margin-left:0.2vw;
}
.hands10 #hands .cardwrap {
	width:5vw; 
	height:13vh;
}
.hands25 #hands .cardwrap {
	width:2.5vw;
	height:6.5vh;
}
.hands50 #hands .cardwrap {
	width: 2vw;
	height:5vh;
}
.hands100 #hands .cardwrap {
	width:1.4vw;
	height:3.5vh;
}
.hands100 .card {
	border-radius:1px;
}
.cardwrap {
   transform-style: preserve-3d;
   transition: transform 100ms;
   width:12vw;
   height:31vh;
   display:inline-block;
}
.hands10 .cardwrap {
	width:12vw;
	height:31vh;
}
#holds {
    font-size:2.2vw;
    height:26vh;
    margin:0 0;
	 width:100vw;
	position:absolute;
	bottom:33vh;
	left:18vw;
	text-align:left;
}
.hold {
    color:#ff0;
    width:11.9vw;
    text-align:center;
    display:inline-block;
    font-weight:bold;
	 padding: 0 0.3vw;
	 position:relative;
	 height:37vh;
	 margin-left:0.1vw;
}
.hold:after {
	height:37vh;
	border-radius:1vw;
	border:0.1vw solid #990;
	background-color:#ff0;
	width:13.1vw;
	position:absolute;
	top:1.5vh;
	left:-1vw;
	content: "\1f512";
	z-index:2;
}
.hands10 .hold {
	width:11.9vw;
}
.hands10 .hold:after {
	width:13.1vw;
	height:37vh;
	top:1.5vh;
}
.cardwrap .card {
  margin: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style:preserve-3d;
}
.cardwrap .cardback {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style:preserve-3d;
  transform: rotateY(180deg);
}
.cardwrap.flipped  {
   transform: rotateY(-180deg); 
  transform-style:preserve-3d;
}

#hands .cardwrap .card {
  margin: 0;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style:preserve-3d;
}
#hands .cardwrap .cardback {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style:preserve-3d;
  transform: rotateY(180deg);
}
#hands .cardwrap.flipped  {
   transform: rotateY(-180deg); 
  transform-style:preserve-3d;
}
.cards {
   position: relative;
   perspective: 800px;
}
#hands .card:before {
   line-height: 4vh;
   font-size: 2vw;
   white-space: pre;
   transform-style:preserve-3d;
   backface-visibility:hidden;
   -webkit-backface-visibility:hidden;
   text-align: center;
   display: inline-block;
   padding: .125em .125em .25em .05em;
   position:absolute;
   left:0px;
   top:0px;
   font-weight:bold;
}
.card:before {
   line-height: 120%;
   font-size: 300%;
   white-space: pre;
   transform-style:preserve-3d;
   backface-visibility:hidden;
   -webkit-backface-visibility:hidden;
   text-align: center;
   display: inline-block;
   padding: 3% 1%;
   position:absolute;
   left:0px;
   top:0px;
   font-weight:bold;
}
.card2D:before { color:#c00; content: "2\A\2666"; }
.card3D:before { color:#c00; content: "3\A\2666"; }
.card4D:before { color:#c00; content: "4\A\2666"; }
.card5D:before { color:#c00; content: "5\A\2666"; }
.card6D:before { color:#c00; content: "6\A\2666"; }
.card7D:before { color:#c00; content: "7\A\2666"; }
.card8D:before { color:#c00; content: "8\A\2666"; }
.card9D:before { color:#c00; content: "9\A\2666"; }
.card10D:before { color:#c00; content: "10\A\2666"; }
.card11D:before { color:#c00; content: "J\A\2666"; }
.card12D:before { color:#c00; content: "Q\A\2666"; }
.card13D:before { color:#c00; content: "K\A\2666"; }
.card1D:before { color:#c00; content: "A\A\2666"; }
.card2H:before { color:#c00; content: "2\A\2665"; }
.card3H:before { color:#c00; content: "3\A\2665"; }
.card4H:before { color:#c00; content: "4\A\2665"; }
.card5H:before { color:#c00; content: "5\A\2665"; }
.card6H:before { color:#c00; content: "6\A\2665"; }
.card7H:before { color:#c00; content: "7\A\2665"; }
.card8H:before { color:#c00; content: "8\A\2665"; }
.card9H:before { color:#c00; content: "9\A\2665"; }
.card10H:before { color:#c00; content: "10\A\2665"; }
.card11H:before { color:#c00; content: "J\A\2665"; }
.card12H:before { color:#c00; content: "Q\A\2665"; }
.card13H:before { color:#c00; content: "K\A\2665"; }
.card1H:before {color:#c00; content: "A\A\2665"; }

.card2S:before { color:#000; content: "2\A\2660"; }
.card3S:before { color:#000; content: "3\A\2660"; }
.card4S:before { color:#000; content: "4\A\2660"; }
.card5S:before { color:#000; content: "5\A\2660"; }
.card6S:before { color:#000; content: "6\A\2660"; }
.card7S:before { color:#000; content: "7\A\2660"; }
.card8S:before { color:#000; content: "8\A\2660"; }
.card9S:before { color:#000; content: "9\A\2660"; }
.card10S:before { color:#000; content: "10\A\2660"; }
.card11S:before { color:#000; content: "J\A\2660"; }
.card12S:before { color:#000; content: "Q\A\2660"; }
.card13S:before { color:#000; content: "K\A\2660"; }
.card1S:before { color:#000; content: "A\A\2660"; }
.card2C:before { color:#000; content: "2\A\2663"; }
.card3C:before { color:#000; content: "3\A\2663"; }
.card4C:before { color:#000; content: "4\A\2663"; }
.card5C:before { color:#000; content: "5\A\2663"; }
.card6C:before { color:#000; content: "6\A\2663"; }
.card7C:before { color:#000; content: "7\A\2663"; }
.card8C:before { color:#000; content: "8\A\2663"; }
.card9C:before { color:#000; content: "9\A\2663"; }
.card10C:before { color:#000; content: "10\A\2663"; }
.card11C:before { color:#000; content: "J\A\2663"; }
.card12C:before { color:#000; content: "Q\A\2663"; }
.card13C:before { color:#000; content: "K\A\2663"; }
.card1C:before {color:#000; content: "A\A\2663"; }

#hands {
	width:85%;
	display:inline-block;
}

#hands .card:after {
   line-height: 4vh;
   transform-style:preserve-3d;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
   font-size: 2vw;
   font-weight:bold;
   white-space: pre;
   text-align: center;
   display: inline-block;
   padding: .125em .125em .25em .05em;
   transform: rotate(180deg);
   position:absolute;
   right:0px;
   bottom:0px;
}
.hands25 #hands .card:after, .hands50 #hands .card:after, .hands100 #hands .card:after { display:none; }
.card:after {
   line-height: 120%;
   transform-style:preserve-3d;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
   font-size: 300%;
   font-weight:bold;
   white-space: pre;
   text-align: center;
   display: inline-block;
   padding: 3% 1%;
   transform: rotate(180deg);
   position:absolute;
   right:0px;
   bottom:0px;
}
.card1D:after {color:#c00; content: "A\A\2666"; }
.card2D:after { color:#c00; content: "2\A\2666"; }
.card3D:after { color:#c00; content: "3\A\2666"; }
.card4D:after { color:#c00; content: "4\A\2666"; }
.card5D:after { color:#c00; content: "5\A\2666"; }
.card6D:after { color:#c00; content: "6\A\2666"; }
.card7D:after { color:#c00; content: "7\A\2666"; }
.card8D:after { color:#c00; content: "8\A\2666"; }
.card9D:after { color:#c00; content: "9\A\2666"; }
.card10D:after { color:#c00; content: "10\A\2666"; }
.card11D:after { color:#c00; content: "J\A\2666"; }
.card12D:after { color:#c00; content: "Q\A\2666"; }
.card13D:after { color:#c00; content: "K\A\2666"; }
.card1H:after { color:#c00; content: "A\A\2665"; }
.card2H:after { color:#c00; content: "2\A\2665"; }
.card3H:after { color:#c00; content: "3\A\2665"; }
.card4H:after { color:#c00; content: "4\A\2665"; }
.card5H:after { color:#c00; content: "5\A\2665"; }
.card6H:after { color:#c00; content: "6\A\2665"; }
.card7H:after { color:#c00; content: "7\A\2665"; }
.card8H:after { color:#c00; content: "8\A\2665"; }
.card9H:after { color:#c00; content: "9\A\2665"; }
.card10H:after { color:#c00; content: "10\A\2665"; }
.card11H:after { color:#c00; content: "J\A\2665"; }
.card12H:after { color:#c00; content: "Q\A\2665"; }
.card13H:after { color:#c00; content: "K\A\2665"; }

.card1S:after {color:#000; content: "A\A\2660"; }
.card2S:after { color:#000; content: "2\A\2660"; }
.card3S:after { color:#000; content: "3\A\2660"; }
.card4S:after { color:#000; content: "4\A\2660"; }
.card5S:after { color:#000; content: "5\A\2660"; }
.card6S:after { color:#000; content: "6\A\2660"; }
.card7S:after { color:#000; content: "7\A\2660"; }
.card8S:after { color:#000; content: "8\A\2660"; }
.card9S:after { color:#000; content: "9\A\2660"; }
.card10S:after { color:#000; content: "10\A\2660"; }
.card11S:after { color:#000; content: "J\A\2660"; }
.card12S:after { color:#000; content: "Q\A\2660"; }
.card13S:after { color:#000; content: "K\A\2660"; }
.card1C:after {color:#000; content: "A\A\2663"; }
.card2C:after { color:#000; content: "2\A\2663"; }
.card3C:after { color:#000; content: "3\A\2663"; }
.card4C:after { color:#000; content: "4\A\2663"; }
.card5C:after { color:#000; content: "5\A\2663"; }
.card6C:after { color:#000; content: "6\A\2663"; }
.card7C:after { color:#000; content: "7\A\2663"; }
.card8C:after { color:#000; content: "8\A\2663"; }
.card9C:after { color:#000; content: "9\A\2663"; }
.card10C:after { color:#000; content: "10\A\2663"; }
.card11C:after { color:#000; content: "J\A\2663"; }
.card12C:after { color:#000; content: "Q\A\2663"; }
.card13C:after { color:#000; content: "K\A\2663"; }
.hands10 #hands  .card1S:after,.hands10 #hands  .card2S:after,.hands10 #hands  .card3S:after,.hands10 #hands  .card4S:after,.hands10 #hands  .card5S:after,.hands10 #hands  .card6S:after,.hands10 #hands  .card7S:after,.hands10 #hands  .card8S:after,.hands10 #hands  .card9S:after,.hands10 #hands  .card10S:after,.hands10 #hands  .card11S:after,.hands10 #hands  .card12S:after,.hands10 #hands  .card13S:after,.hands10 #hands  .card1C:after,.hands10 #hands  .card2C:after,.hands10 #hands  .card3C:after,.hands10 #hands  .card4C:after,.hands10 #hands  .card5C:after,.hands10 #hands  .card6C:after,.hands10 #hands  .card7C:after,.hands10 #hands  .card8C:after,.hands10 #hands  .card9C:after,.hands10 #hands  .card10C:after,.hands10 #hands  .card11C:after,.hands10 #hands  .card12C:after,.hands10 #hands  .card13C:after,.hands10 #hands  .card1H:after,.hands10 #hands  .card2H:after,.hands10 #hands  .card3H:after,.hands10 #hands  .card4H:after,.hands10 #hands  .card5H:after,.hands10 #hands  .card6H:after,.hands10 #hands  .card7H:after,.hands10 #hands  .card8H:after,.hands10 #hands  .card9H:after,.hands10 #hands  .card10H:after,.hands10 #hands  .card11H:after,.hands10 #hands  .card12H:after,.hands10 #hands  .card13H:after,.hands10 #hands  .card1D:after,.hands10 #hands  .card2D:after,.hands10 #hands  .card3D:after,.hands10 #hands  .card4D:after,.hands10 #hands  .card5D:after,.hands10 #hands  .card6D:after,.hands10 #hands  .card7D:after,.hands10 #hands  .card8D:after,.hands10 #hands  .card9D:after,.hands10 #hands  .card10D:after,.hands10 #hands  .card11D:after,.hands10 #hands  .card12D:after,.hands10 #hands  .card13D:after { display:none; }
.hands25 #hands  .card1S:after,.hands25 #hands  .card2S:after,.hands25 #hands  .card3S:after,.hands25 #hands  .card4S:after,.hands25 #hands  .card5S:after,.hands25 #hands  .card6S:after,.hands25 #hands  .card7S:after,.hands25 #hands  .card8S:after,.hands25 #hands  .card9S:after,.hands25 #hands  .card25S:after,.hands25 #hands  .card11S:after,.hands25 #hands  .card12S:after,.hands25 #hands  .card13S:after,.hands25 #hands  .card1C:after,.hands25 #hands  .card2C:after,.hands25 #hands  .card3C:after,.hands25 #hands  .card4C:after,.hands25 #hands  .card5C:after,.hands25 #hands  .card6C:after,.hands25 #hands  .card7C:after,.hands25 #hands  .card8C:after,.hands25 #hands  .card9C:after,.hands25 #hands  .card25C:after,.hands25 #hands  .card11C:after,.hands25 #hands  .card12C:after,.hands25 #hands  .card13C:after,.hands25 #hands  .card1H:after,.hands25 #hands  .card2H:after,.hands25 #hands  .card3H:after,.hands25 #hands  .card4H:after,.hands25 #hands  .card5H:after,.hands25 #hands  .card6H:after,.hands25 #hands  .card7H:after,.hands25 #hands  .card8H:after,.hands25 #hands  .card9H:after,.hands25 #hands  .card25H:after,.hands25 #hands  .card11H:after,.hands25 #hands  .card12H:after,.hands25 #hands  .card13H:after,.hands25 #hands  .card1D:after,.hands25 #hands  .card2D:after,.hands25 #hands  .card3D:after,.hands25 #hands  .card4D:after,.hands25 #hands  .card5D:after,.hands25 #hands  .card6D:after,.hands25 #hands  .card7D:after,.hands25 #hands  .card8D:after,.hands25 #hands  .card9D:after,.hands25 #hands  .card25D:after,.hands25 #hands  .card11D:after,.hands25 #hands  .card12D:after,.hands25 #hands  .card13D:after { display:none; }
.hands50 #hands  .card1S:after,.hands50 #hands  .card2S:after,.hands50 #hands  .card3S:after,.hands50 #hands  .card4S:after,.hands50 #hands  .card5S:after,.hands50 #hands  .card6S:after,.hands50 #hands  .card7S:after,.hands50 #hands  .card8S:after,.hands50 #hands  .card9S:after,.hands50 #hands  .card50S:after,.hands50 #hands  .card11S:after,.hands50 #hands  .card12S:after,.hands50 #hands  .card13S:after,.hands50 #hands  .card1C:after,.hands50 #hands  .card2C:after,.hands50 #hands  .card3C:after,.hands50 #hands  .card4C:after,.hands50 #hands  .card5C:after,.hands50 #hands  .card6C:after,.hands50 #hands  .card7C:after,.hands50 #hands  .card8C:after,.hands50 #hands  .card9C:after,.hands50 #hands  .card50C:after,.hands50 #hands  .card11C:after,.hands50 #hands  .card12C:after,.hands50 #hands  .card13C:after,.hands50 #hands  .card1H:after,.hands50 #hands  .card2H:after,.hands50 #hands  .card3H:after,.hands50 #hands  .card4H:after,.hands50 #hands  .card5H:after,.hands50 #hands  .card6H:after,.hands50 #hands  .card7H:after,.hands50 #hands  .card8H:after,.hands50 #hands  .card9H:after,.hands50 #hands  .card50H:after,.hands50 #hands  .card11H:after,.hands50 #hands  .card12H:after,.hands50 #hands  .card13H:after,.hands50 #hands  .card1D:after,.hands50 #hands  .card2D:after,.hands50 #hands  .card3D:after,.hands50 #hands  .card4D:after,.hands50 #hands  .card5D:after,.hands50 #hands  .card6D:after,.hands50 #hands  .card7D:after,.hands50 #hands  .card8D:after,.hands50 #hands  .card9D:after,.hands50 #hands  .card50D:after,.hands50 #hands  .card11D:after,.hands50 #hands  .card12D:after,.hands50 #hands  .card13D:after { display:none; }
.hands100 #hands  .card1S:after,.hands100 #hands  .card2S:after,.hands100 #hands  .card3S:after,.hands100 #hands  .card4S:after,.hands100 #hands  .card5S:after,.hands100 #hands  .card6S:after,.hands100 #hands  .card7S:after,.hands100 #hands  .card8S:after,.hands100 #hands  .card9S:after,.hands100 #hands  .card100S:after,.hands100 #hands  .card11S:after,.hands100 #hands  .card12S:after,.hands100 #hands  .card13S:after,.hands100 #hands  .card1C:after,.hands100 #hands  .card2C:after,.hands100 #hands  .card3C:after,.hands100 #hands  .card4C:after,.hands100 #hands  .card5C:after,.hands100 #hands  .card6C:after,.hands100 #hands  .card7C:after,.hands100 #hands  .card8C:after,.hands100 #hands  .card9C:after,.hands100 #hands  .card100C:after,.hands100 #hands  .card11C:after,.hands100 #hands  .card12C:after,.hands100 #hands  .card13C:after,.hands100 #hands  .card1H:after,.hands100 #hands  .card2H:after,.hands100 #hands  .card3H:after,.hands100 #hands  .card4H:after,.hands100 #hands  .card5H:after,.hands100 #hands  .card6H:after,.hands100 #hands  .card7H:after,.hands100 #hands  .card8H:after,.hands100 #hands  .card9H:after,.hands100 #hands  .card100H:after,.hands100 #hands  .card11H:after,.hands100 #hands  .card12H:after,.hands100 #hands  .card13H:after,.hands100 #hands  .card1D:after,.hands100 #hands  .card2D:after,.hands100 #hands  .card3D:after,.hands100 #hands  .card4D:after,.hands100 #hands  .card5D:after,.hands100 #hands  .card6D:after,.hands100 #hands  .card7D:after,.hands100 #hands  .card8D:after,.hands100 #hands  .card9D:after,.hands100 #hands  .card100D:after,.hands100 #hands  .card11D:after,.hands100 #hands  .card12D:after,.hands100 #hands  .card13D:after { display:none; }
#hands .card figure {
	background-repeat:no-repeat;
	transform-style:preserve-3d;
   pointer-events: none;
   width:55%;
   height:55%;
	margin:2.2vw 1.6vw;
   border:1px solid transparent;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
	font-size:1vw;
}
#cards .cardwrap { margin-left:1vw; }
.card figure {
  transform-style:preserve-3d;
   pointer-events: none;
   width:50%;
   height:57%;
	margin:31% 25%;
   border:1px solid transparent;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
	font-size:3vw;
}
.card10C figure,.card10S figure,.card10D figure, .card10H figure { width:47%; left:10%; }
.card11H figure { background-image: url(img/JH.png); background-size:100% 100%; border:1px solid #aaa; }
.card11D figure { background-image: url(img/JD.png); background-size:100% 100%; border:1px solid #aaa; }
.card11C figure { background-image: url(img/JC.png); background-size:100% 100%; border:1px solid #aaa; }
.card11S figure { background-image: url(img/JS.png); background-size:100% 100%; border:1px solid #aaa; }
.card12H figure { background-image: url(img/QH.png); background-size:100% 100%; border:1px solid #aaa; }
.card12D figure { background-image: url(img/QD.png); background-size:100% 100%; border:1px solid #aaa; }
.card12C figure { background-image: url(img/QC.png); background-size:100% 100%; border:1px solid #aaa; }
.card12S figure { background-image: url(img/QS.png); background-size:100% 100%; border:1px solid #aaa; }
.card13H figure { background-image: url(img/KH.png); background-size:100% 100%; border:1px solid #aaa; }
.card13D figure { background-image: url(img/KD.png); background-size:100% 100%; border:1px solid #aaa; }
.card13C figure { background-image: url(img/KC.png); background-size:100% 100%; border:1px solid #aaa; }
.card13S figure { background-image: url(img/KS.png); background-size:100% 100%; border:1px solid #aaa; }
#hands .hands25 .card10C figure,#hands .hands25 .card10S figure,#hands .hands25 .card10D figure, #hands .hands25 .card10H figure,#hands .hands25 .card11C figure,#hands .hands25 .card11S figure,#hands .hands25 .card11D figure, #hands .hands25 .card11H figure,#hands .hands25 .card12C figure,#hands .hands25 .card12S figure,#hands .hands25 .card12D figure, #hands .hands25 .card12H figure,#hands .hands25 .card13C figure,#hands .hands25 .card13S figure,#hands .hands25 .card13D figure, #hands .hands25 .card13H figure { background:none; } 
#hands .hands50 .card10C figure,#hands .hands50 .card10S figure,#hands .hands50 .card10D figure, #hands .hands50 .card10H figure,#hands .hands50 .card11C figure,#hands .hands50 .card11S figure,#hands .hands50 .card11D figure, #hands .hands50 .card11H figure,#hands .hands50 .card12C figure,#hands .hands50 .card12S figure,#hands .hands50 .card12D figure, #hands .hands50 .card12H figure,#hands .hands50 .card13C figure,#hands .hands50 .card13S figure,#hands .hands50 .card13D figure, #hands .hands50 .card13H figure { background:none; } 
#hands .hands100 .card10C figure,#hands .hands100 .card10S figure,#hands .hands100 .card10D figure, #hands .hands100 .card10H figure,#hands .hands100 .card11C figure,#hands .hands100 .card11S figure,#hands .hands100 .card11D figure, #hands .hands100 .card11H figure,#hands .hands100 .card12C figure,#hands .hands100 .card12S figure,#hands .hands100 .card12D figure, #hands .hands100 .card12H figure,#hands .hands100 .card13C figure,#hands .hands100 .card13S figure,#hands .hands100 .card13D figure, #hands .hands100 .card13H figure { background:none; } 

.hand { display:inline-block; margin-left:1vw; position:relative; margin-top:1vh; }

.card2H figure:after,.card3H figure:after,.card4H figure:after,.card5H figure:after,.card6H figure:after,.card7H figure:after,.card8H figure:after,.card9H figure:after,.card10H figure:after,.card1H figure:after { display:inline-block; margin-top:2.8vh;margin-left:-1vw;content:" \A\2665"; color:#c00; font-size:5vw; } 
#hands .card2H figure:after,#hands .card3H figure:after,#hands .card4H figure:after,#hands .card5H figure:after,#hands .card6H figure:after,#hands .card7H figure:after,#hands .card8H figure:after,#hands .card9H figure:after,#hands .card10H figure:after,#hands .card1H figure:after { display:inline-block; margin-top:2vh;margin-left:-0.2vw;content:" \A\2665"; color:#c00; font-size:3vw; } 
.hands10 #hands .card2H figure:after,#hands .card3H figure:after,#hands .card4H figure:after,#hands .card5H figure:after,#hands .card6H figure:after,#hands .card7H figure:after,#hands .card8H figure:after,#hands .card9H figure:after,#hands .card10H figure:after,#hands .card1H figure:after { display:inline-block; margin-top:-1vh;margin-left:0vw;content:" \A\2665"; color:#c00; font-size:3vw; } 

.card2D figure:after,.card3D figure:after,.card4D figure:after,.card5D figure:after,.card6D figure:after,.card7D figure:after,.card8D figure:after,.card9D figure:after,.card10D figure:after,.card1D figure:after { display:inline-block; margin-top:2.8vh;margin-left:-1vw;content:" \A\2666"; color:#c00; font-size:5vw; } 
#hands .card2D figure:after,#hands .card3D figure:after,#hands .card4D figure:after,#hands .card5D figure:after,#hands .card6D figure:after,#hands .card7D figure:after,#hands .card8D figure:after,#hands .card9D figure:after,#hands .card10D figure:after,#hands .card1D figure:after { display:inline-block; margin-top:2vh;margin-left:-0.2vw;content:" \A\2666"; color:#c00; font-size:3vw; } 
.hands10 #hands .card2D figure:after,#hands .card3D figure:after,#hands .card4D figure:after,#hands .card5D figure:after,#hands .card6D figure:after,#hands .card7D figure:after,#hands .card8D figure:after,#hands .card9D figure:after,#hands .card10D figure:after,#hands .card1D figure:after { display:inline-block; margin-top:-1vh;margin-left:0vw;content:" \A\2666"; color:#c00; font-size:3vw; } 

.card2C figure:after,.card3C figure:after,.card4C figure:after,.card5C figure:after,.card6C figure:after,.card7C figure:after,.card8C figure:after,.card9C figure:after,.card10C figure:after,.card1C figure:after { display:inline-block; margin-top:2.8vh;margin-left:-1vw;content:" \A\2663"; color:#000; font-size:5vw; } 
#hands .card2C figure:after,#hands .card3C figure:after,#hands .card4C figure:after,#hands .card5C figure:after,#hands .card6C figure:after,#hands .card7C figure:after,#hands .card8C figure:after,#hands .card9C figure:after,#hands .card10C figure:after,#hands .card1C figure:after { display:inline-block; margin-top:2vh;margin-left:-0.2vw;content:" \A\2663"; color:#000; font-size:3vw; } 
.hands10 #hands .card2C figure:after,#hands .card3C figure:after,#hands .card4C figure:after,#hands .card5C figure:after,#hands .card6C figure:after,#hands .card7C figure:after,#hands .card8C figure:after,#hands .card9C figure:after,#hands .card10C figure:after,#hands .card1C figure:after { display:inline-block; margin-top:-1vh;margin-left:0vw;content:" \A\2663"; color:#000; font-size:3vw; } 

.card2S figure:after,.card3S figure:after,.card4S figure:after,.card5S figure:after,.card6S figure:after,.card7S figure:after,.card8S figure:after,.card9S figure:after,.card10S figure:after,.card1S figure:after { display:inline-block; margin-top:2.8vh;margin-left:-1vw;content:" \A\2660"; color:#000; font-size:5vw; } 
#hands .card2S figure:after,#hands .card3S figure:after,#hands .card4S figure:after,#hands .card5S figure:after,#hands .card6S figure:after,#hands .card7S figure:after,#hands .card8S figure:after,#hands .card9S figure:after,#hands .card10S figure:after,#hands .card1S figure:after { display:inline-block; margin-top:2vh;margin-left:-0.2vw;content:" \A\2660"; color:#000; font-size:3vw; } 
.hands10 #hands .card2S figure:after,#hands .card3S figure:after,#hands .card4S figure:after,#hands .card5S figure:after,#hands .card6S figure:after,#hands .card7S figure:after,#hands .card8S figure:after,#hands .card9S figure:after,#hands .card10S figure:after,#hands .card1S figure:after { display:inline-block; margin-top:-1vh;margin-left:0vw;content:" \A\2660"; color:#000; font-size:3vw; } 

.hands25 #hands div.card figure:after,.hands50 #hands div.card figure:after, .hands100 #hands div.card figure:after { display:none; }
.hands25 #hands div.card figure,.hands50 #hands div.card figure, .hands100 #hands div.card figure{ display:none; }

.hands25 #hands .card:before {
	line-height:3.1vh;
	font-size:1.5vw;
}
.diamond { color: #cc0000; }
#hands .cardback { 
    border-radius:.5vw;
    width:100%;
    height:100%;
    display:inline-block;
    box-shadow: 0.3vw 0.6vh 0.5vw rgba(0,0,0,.4);
    transform-style:preserve-3d;
	 backface-visibility:hidden;
	 -webkit-backface-visibility:hidden;
    background: rgb(254,255,255);
    background: -moz-linear-gradient(-45deg, rgba(254,255,255,1) 0%, rgba(255,252,226,1) 64%, rgba(242,238,201,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254,255,255,1) 0%,rgba(255,252,226,1) 64%,rgba(242,238,201,1) 100%);
    background: linear-gradient(135deg, rgba(254,255,255,1) 0%,rgba(255,252,226,1) 64%,rgba(242,238,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f2eec9',GradientType=0 );
}
.hands50 #hands .cardback { border-radius:.25vw; }
.hands100 #hands .cardback {
	border-radius:1px;
}
#cards .cardback { 
    border: 1vw solid #fff;
    border-radius:.5vw;
    width:84%;
    height:89%;
    display:inline-block;
    box-shadow: .125em .125em 4px rgba(0,0,0,.4);
    transform-style:preserve-3d;
	 backface-visibility:hidden;
	 -webkit-backface-visibility:hidden;
}
.hands10 .cardback {
	
}
#cards .cardback figure { 
	border: none; 
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	content:"";
    background: -webkit-radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background: -moz-radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background: radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background-position: 3em 3em, 3em 4em, auto auto, 0 1em;
    background-size:0.5vw 0.5vw;
}
#hands .cardback figure { 
	border: none;
	position:relative;
	top:-3%;
	left:-5%;
	height:89%;
	width:86%;
	margin:12%;
	padding:0;
	border-radius:0.5vw;
	content:"";
    background: -webkit-radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), -webkit-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background: -moz-radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), -moz-radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background: radial-gradient(circle, rgb(255,255,255) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(35,29,24) 25%, rgba(255,255,255,0) 25%), radial-gradient(circle, rgb(63,57,50) 25%, rgba(255,255,255,0) 25%), rgba(200,57,0,1);
    background-position: 3em 3em, 3em 4em, auto auto, 0 1em;
    background-size:0.35vw 0.35vw;
}
.hands50 #hands .cardback figure { border-radius:.25vw; }
.hands100 #hands .cardback figure { border-radius:1px; }

.hands100 #hands { width:100% }
.hands25 .handresult { font-size:1.3em;height:2.5vh; }
.hands50 .handresult { font-size:1.1em;height:1.75vh; }
.hands100 .handresult { font-size:0.8em;font-weight:normal;height:1.5vh; border-width:1px; }
.hands50 #hands .card:before { line-height:1; font-size: 1.3vw; }
.hands100 #hands .card:before { line-height:1; font-size: 1vw; }

button:active { transform: translateY(0.25em); position:relative; display:inline-block; }
button { background: #f4e130; background: -moz-linear-gradient(top, #f4e130 0%, #fff460 50%, #e5da02 51%, #d1ca00 100%); background: -webkit-linear-gradient(top, #f4e130 0%,#fff460 50%,#e5da02 51%,#d1ca00 100%); background: linear-gradient(to bottom, #f4e130 0%,#fff460 50%,#e5da02 51%,#d1ca00 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e130', endColorstr='#d1ca00',GradientType=0 ); }
.rightButton { border-top-right-radius:2em; border-bottom-right-radius:2em; }
.leftButton { border-top-left-radius:2em; border-bottom-left-radius:2em; }
h2:before {
    display: inline-block;
    height: 7.3vh;
    width: 4.8vw;
    position: absolute;
    top: 0.2vh;
    left: 0.12vw;
    border-radius: 4vw;
    border: 0.3vw double #fff;
	 content: " ";
    z-index: 1;
    color: #000;
    font-size: 3.1vw;
    text-shadow: 2px 2px 0px rgba(255,255,255,.8);
    padding-top: 1.4vh;
}
button { outline: none; }
#gameover { 
	position: absolute;
	display: inline-block;
	top: 30%;
	width:60vw;
	left: 17%;
	font-size: 6em;
	color: #ff0;
	text-shadow: 2px 2px 0px #000;
	font-weight: bold;
	background-color: rgba(0,0,0,.5);
	padding: 2vw 4vw;
	border-radius: 8vw;
	transform:scale(0);
	transition: all 250ms cubic-bezier(.25, .99, .71, 1.23);
	z-index:9999;
}
.chip1 { font-size:2.3vw; padding-left:1.0vw; width:3.1vw; }
.chip2 { font-size:2.3vw;padding-left:1.0vw; width:3.1vw;  }
.chip5 { font-size:2.3vw;padding-left:1.0vw; width:3.1vw;  }
.chip10 { font-size:2.3vw;padding-left:1.1vw; width:3vw; letter-spacing:-4px; }
.chip25 { font-size:2.3vw;padding-left:1.1vw; width:3vw; letter-spacing:-4px; }
.chip100 { font-size:2.3vw; letter-spacing:-4px; }
.chip250 { font-size:2.3vw; letter-spacing:-4px; }
.chip500 { font-size:2.3vw; letter-spacing:-4px; }
.chip500 { font-size:2.3vw; letter-spacing:-4px; }
.chip1000 { font-size:2.3vw; letter-spacing:-4px; }
.chip2000 { font-size:2.3vw; letter-spacing:-4px; }
.chip5000 { font-size:2.3vw; letter-spacing:-4px; }
.chip10000 { font-size:2.3vw; letter-spacing:-4px; }
